
body {
  background-color: grey;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* This ensures positioning is relative to body */
}




