<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="{% static 'VNRealm/css/sample.css' %}">
</head>
<body>
<h1>VNRealm</h1>
<h2>List of records in VNRealm</h2>
   {% for vn in records %}
        {% if vn.cover_image %}
       <img src="{{ vn.cover_image.url }}" alt="{{ vn.title }}" width="100">
       {% else %}
 <img src="{% static 'VNRealm/images/noneicon.jpeg' %}" alt="{{ vn.title }}" width="100">
           {% endif %}
          <table>
      <thead>
      <tr>
      <th>Detail</th>
          <th>Item</th>
      </tr>
      </thead>
      <tbody>
      <tr>
      <td>TITLE:</td>
      <td>{{ vn.title }}</td>
      </tr>
      <tr>
        <td>AUTHOR:</td>
        <td>{% for author in vn.author.all %}
                    {{ author.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
        </td>
        </tr>
      <tr>
        <td>RELEASE YEAR:</td>
        <td>({{ vn.release_year }})</td>
        </tr>
       <tr>
        <td>GENRE:</td>
        <td>{% for genre in vn.genre.all %}
                    {{ genre.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}</td>
        </tr>
       <tr>
        <td>AVAILABLE_ON:</td>
        <td>{% for available_on in vn.available_on.all %}
                    {{ available_on.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}</td>
        </tr>
      </tbody>
      </table>
   {% empty %}
     <li>No visual novels found.</li>
     {% endfor %}
</body>
</html>
