<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VNRealmPage</title>
        <link rel="stylesheet" href="{% static 'VNRealm/css/sample.css' %}">
</head>
<body>
<header>
<h1>VNRealm</h1>
<h2>Visual Novels list</h2>
</header>
<!-- loop vn records-->
   {% for vn in records %}
       <div class="container">
       <!--if cover image exists display it-->
        {% if vn.cover_image %}
       <img src="{{ vn.cover_image.url }}" alt="{{ vn.title }}" id="cover">
       {% else %}
            <!--if not display default image-->
 <img src="{% static 'VNRealm/images/noneicon.jpeg' %}" alt="{{ vn.title }}" id="noncover">
           {% endif %}
          <table>
      <thead>
      <tr>
      <th>Detail</th>
          <th>Item</th>
      </tr>
      </thead>
      <tbody>
      <tr>
      <td>TITLE:</td>
          <td><a id="titlelink" href="{% url 'VN_detailpage' vn.id %}">{{ vn.title }}</a></td>
      </tr>
      <tr>
        <td>AUTHOR:</td>
        <td>{% for author in vn.author.all %}
                    {{ author.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
        </td>
        </tr>
      <tr>
        <td>RELEASE YEAR:</td>
        <td>({{ vn.release_year }})</td>
        </tr>
       <tr>
        <td>GENRE:</td>
        <td>{% for genre in vn.genre.all %}
                    {{ genre.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}</td>
        </tr>
       <tr>
        <td>AVAILABLE_ON:</td>
        <td>{% for available_on in vn.available_on.all %}
                    {{ available_on.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}</td>
        </tr>
      </tbody>
      </table>
       </div>
   {% empty %}
     <li>No visual novels found.</li>
     {% endfor %}
</body>
</html>
