<!DOCTYPE html>
<html lang="en">
{% load static %}
<script src="{% static 'VNRealm/JS/sample.js' %}"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link rel="stylesheet" href="{% static 'VNRealm/css/sample.css' %}">
</head>
<body>
    <h1>we here</h1>
<h2>{{ vn.title }}</h2>
<p>Author: {% for author in vn.author.all %}
                    {{ author.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}</p>
<p>Release Year: {{ vn.release_year }}</p>
    <p>GENRE: {% for genre in vn.genre.all %}
                    {{ genre.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}</p>
    <p>AVAILABLE_ON: {% for available_on in vn.available_on.all %}
                    {{ available_on.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}</p>
        {% if vn.cover_image %}
       <img src="{{ vn.cover_image.url }}" alt="{{ vn.title }}" width="100">
       {% else %}
 <img src="{% static 'VNRealm/images/noneicon.jpeg' %}" alt="{{ vn.title }}" width="100">
           {% endif %}
<h3>Reviews:</h3>
 <form id="reviewForm" method="POST" action="{% url 'VN_detailpage' dt=vn.id %}"
       data-auth="{% if user.is_authenticated %}True{% else %}False{% endif %}">
    {% csrf_token %}
            <textarea name="content" id="reviewText"  rows="10" cols="35"
                      placeholder="Write your review here..."></textarea>
        <br>
    <button type ="submit">Submit</button>
</form>
    {% if user.is_authenticated %}
    <a href="{% url 'Home' %}">
        <button>Home</button>
    </a>
{% endif %}
    {% if reviews %}
    {% for review in reviews %}
        <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
            <strong>{{ review.user.username|default:"Anonymous" }}</strong>
            <p>{{ review.content }}</p>
            <small>Posted on: {{ review.created_at }}</small>
        </div>
        {% if user == review.user %}
        <a href="{% url 'delete_review' review.id %}">Delete</a>
    {% endif %}
    {% endfor %}
{% else %}
    <p>No reviews yet. Be the first one!</p>
{% endif %}
    <a href="{% url 'index' %}">
    <button>Go to Homepage</button>
</a>

<div id="authPopup" class="popup">
  <div class="popup-content">
    <h3>You must log in to post a review!</h3>
         <button type = "button" id="loginBtn" class="btn-login"
                 data-login-url="{% url 'login' %}?next={{ request.path }}" >Login</button>
        <button id="closePopup">Close</button>
    </div>
  </div>
</body>
</html>